@import '../../styles/global/variables.scss';

.carrinho-enderecos {
    .select-endereco{
        background-color: #e9e9e9;
        padding: 15px;
        border-radius: 20px;
        margin-right: 10%;
    }

    .enderecos {
        height: 140px;
        overflow-y: auto;

        .carrinho-endereco {
            cursor: pointer;
            display: flex;
            padding: 1px;
            transition: 1s;

            &.active {
                border: 1px solid $backgroundColor;
            }
            
            + .carrinho-endereco {
                margin-top: 10px;
            }
    
            .content {
                p {
                    margin-bottom: 0;
                }
            }
        }

        .select-endereco-fechar{
            all: unset;
            cursor: pointer;
            position: absolute;
            left: 53%;
            padding: 0 10px;
            background-color: red;
            color: $backgroundColor4;
            border-radius: 5px;
        }

        .enderecos-select-tipo{
            border: 0px;
            background-color: #0CD3D2;
            padding: 11px 26px;
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
            color: #FFFFFF;
        }

        .enderecos-select-tipo:hover{
            background-color: #09a0a0;
        }
    }

    .novo-endereco {
        display: flex;
        align-items: center;
        padding-left: 20px;

        a {
            color: $textColor3;
            text-decoration: none;
        }
    }
}