$borderColor: #DEDEDE;
$borderColor2: #FFFFFF;
$borderColor3: #F5F5F5;
$borderColor4: #0CD3D2;
$borderColor5: #969696;
$borderColor6: #EDEDED;
$backgroundColor: $borderColor4;
$backgroundColor2: $borderColor3;
$backgroundColor3: #25262C;
$backgroundColor4: $borderColor2;
$backgroundColor5: $borderColor;
$backgroundColor6: $borderColor6;
$textColor: $backgroundColor3;
$textColor2: $borderColor2;
$textColor3: $borderColor4;
$textColor4: $borderColor3;

$playstation: #0057A9;
$linearPlaystation: linear-gradient(180deg, #0057A9 0%, #0397D8 100%);
$xbox: #29A326;
$linearXbox: linear-gradient(180deg, #29A326 0%, #26D951 100%);
$nintendo: #CA1B0E;
$linearNintendo: linear-gradient(180deg, #CA1B0E 0%, #F23333 100%);
$pc: #E26F0A;
$linearPc: linear-gradient(180deg, #E26F0A 0%, #FF871E 100%);