@import '../../styles/global/variables.scss';

.pagamento {
    padding: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

    .cartoes {
        height: 130px;
        overflow-y: auto;
        margin-bottom: 20px;
        // new styles
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: .5s;

        &.active {
            visibility: visible;
            opacity: 1;
        }

        .cartao {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 2px;
            transition: 1s;
            
            &.active {
                border: 1px solid $backgroundColor;
            }
            
            + .cartao {
                margin-top: 5px;
            }

            .image {
                img {
                    width: 56px;
                }
            }

            .content {
                p {
                    margin-left: 16px;
                    margin-bottom: 0;
                }
            }
        }
    }

    .novo-cartao {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 58px;

        a {
            margin-bottom: 0;
            text-decoration: none;
            margin-left: 16px;
            color: $textColor;
        }
    }

    .cupons {
        height: 180px;
        overflow-y: auto;
        margin-bottom: 20px;

        .cupom {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 2px;
            transition: 1s;
        }
    }

    .protegido {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            line-height: 10px;
            margin-left: 4px;
            margin-bottom: 0;
        }
    }

    .cartoes-container {
        // new styles
        position: relative;
        min-width: 320px;
        width: 50%;
        height: auto;
        background-color: white;
        padding: 5px;
        border: 2px solid gray;
        box-shadow: 0px 0px 1px 40px rgb(255, 255, 255);
        border-radius: 4px;

        .close {
            position: absolute;
            top: -25px;
            right: -30px;
            background-color: red;
            padding: 0 8px;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .card-selector{
        margin-top: 2px;
    }

    .active-card{

        background-color: aquamarine;
        border-radius: 25px;
    }

    .select-card-button{
        width: 20px;
        height: 20px;
    }

    .checkbox-card{
        width: 40px;
    }

    .payment-quantity{
        display: flex;
        justify-content: space-between;
        padding: 10px;

        input{
            border-radius: 10px;
        }
    }
}