@import '../../styles/global/variables.scss';

.admin-side-menu {
    width: 100%;
    height: 100%;
    background-color: $backgroundColor3;

    .admin-informacao {
        padding: 10px;
        display: flex;
        margin-bottom: 52px;

        .content {
            padding-top: 10px;
            padding-left: 10px;

            p {
                color: $textColor2;
            }

            button {
                all: unset;
                cursor: pointer;
                color: $textColor3;
                transition: 0.8s;

                &:hover {
                    color: $textColor2;
                }
            }
        }
    }

    .admin-menu {
        padding-left: 20px;

        ul {
            list-style: none;
            
            li {
                margin-bottom: 24px;

                a {
                    margin: 0;
                    color: $textColor2;
                    text-decoration: none;
                    transition: 0.8s;

                    &:hover {
                        color: $textColor3;
                    }
                }

            }
        }
    }
    
}